#remote-media-div > video {
  border-radius: 5px;
  border-right: 2px solid transparent;
  width: 50%;
  height: auto;
}

video {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

#disconnect-btn {
  display: none;
}
