<input id='token' type='text' name'Token'>

<button id='connect'>Connect</button>

<button id='disconnect-btn'>Disconnect</button>

<button id='camera-preview'>Camera preview</button>

<h3>Local Media:</h3>
<div id='local-media-ctr'></div>

<h3>Remote Media:</h3>
<div id='remote-media-div'></div>
