<form id='twilio_form'>
  <label for='Token'> Token </label>
  <input id='token' type='text' name'Token'>
  <label for='Room'> Room </label>
  <input id='room' type='text' name'Room'>
  <input type='submit' value='Connect'>
</form>

<div id='remote-media-div'>

</div>

<div id='local-media-ctr'>

</div>
